@model IEnumerable<Cryptids>

<h2>Cryptids</h2>
<table class="table table-dark table-striped">
    <tr>
        <th>First Year Reported</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Last Year Reported</th>
    </tr>

    @foreach (var cryptid in @Model)
    {
        <tr>
            <td>@cryptid.FirstYearReported</td>
            <td> <a class="link-info nounderline" href =/Cryptids/ViewCryptid/@cryptid.CreatureId class="link-success">@cryptid.Name</a></td>
            <td>@cryptid.Description</td>
            <td>@cryptid.Location</td>
            <td>@cryptid.LastYearReported</td>
        </tr>
    }

</table>
<img C:\Users\17144\Desktop\CryptidZoo\mothman />
