@model Cryptids

<h3>@Model.Name Information</h3>
<table class="table table-dark table-striped">
    <tr>
        <th>First Year Reported</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Last Year Reported</th>
    </tr>
        <tr>
            <td>@Model.FirstYearReported</td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Location</td>
            <td>@Model.LastYearReported</td>
        </tr>
    

</table>
 <img @Model.Image />